// App

header {
	text-align:center;
}

.header__title {
	font-size:45px;
	font-weight:400;
	margin-bottom:$xsmall-spacing;
	@include media($small-screen-only) {
		[class^="mc-"] {
			display: block;
		}
	}
	@include media($medium-screen) {
		font-size:75px;
	}
}

.header__sub {
	font-size:15px;
	font-weight:300;
	margin-bottom:$large-spacing;
	@include media($medium-screen) {
		font-size:24px;
	}
}

.icon-grid {
	text-align:center;
	[class^="mc-"] {
		font-size: 55px;
		padding:$xsmall-spacing $xsmall-spacing 0;
		display: block;
		@include media($medium-screen) {
			font-size: 75px;
		}
		@include media($large-screen) {
			font-size: 100px;
		}
	}

	@mixin nth-children {
		@for $i from 1 to 28 {
			&:nth-child(#{$i}) {
				transition-delay: ($i * 0.1) + s;
			}
		}
	}

	li {
		transform: scale(0);
		transition-property: transform;
		transition-duration: 1s;
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		.is-loaded & {
			transform: scale(1);
		}
		@include nth-children;
		&:hover {
			color:$green;
			@include transition(color 0.25s linear);
			code {
				opacity: 1;
			}
		}
		&:nth-child(odd) {
			&:hover {
				color: $red;
			}
		}
	}
}

code {
	font-size:$smaller-font-size;
	line-height:1.25em;
	display:inline-block;
	font-family: $code-font-family; 
	opacity:0.3;
}

.footer {
	padding-top:$xxlarge-spacing;
	padding-bottom:$xxlarge-spacing;
	font-size: $small-font-size;
}

