// Buttons

.btn,
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1;
  padding: 10px;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin:0 auto $small-spacing auto;
  text-align:center;
  max-width: 220px;
  @include media($medium-screen) {
    display: inline-block;
    margin-right: $base-spacing;
    padding: 20px 15px;
    max-width: none;
    & + &:last-of-type {
      margin-right: 0;
    }
  }
  @include media($large-screen) {
    margin-right: $base-spacing;
    font-size: $large-font-size;
    padding: 20px 15px;
  }
  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.btn--secondary {
    color:$action-color;
    border:1px solid $action-color;
    background-color:$white;
    &:hover,
    &:focus {
      background-color:$lighter-gray;
    }
  }
  &.btn--tertiary {
    color:$green;
    border:1px solid $green;
    background-color:$white;
    &:hover,
    &:focus {
      background-color:$lighter-gray;
    }
  }
}

.btn--small {
  font-size: $small-font-size;  
  padding:0.75em 0.9em;
  @include media($large-screen) {
    margin-right: $small-spacing;
  }
}

.btn_notes {
  font-size: 0.7em;
  font-style: italic;
  display: block;
  @include media($medium-screen) {
    display: inline;
  }
}

.link--light {
  color:$white;
  &:hover,
  &:focus {
    color: $action-color;
  }
}

.link--underlined {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color:$action-color;
  &.link--light {
    border-bottom-color:transparentize($white, 0.75);
    &:hover {
      border-bottom-color:transparentize($action-color, 0.75);
    }
  }
}


