// Layout

.l-row {
	padding:$base-spacing $small-spacing;
	@include media($medium-screen) {
		padding:$large-spacing $small-spacing;
	}
}

.l-row--black {
	color:$white;
	background-color:$black;
	animation:background-cycle 10s infinite;
}

.l-row--green {
	color:$white;
	background-color:$green;
}

.l-row--gray--light {
	background-color:$lighter-gray;
}

.l-row--hero {
	position: relative;
	&:before {
		font-family: "motorcycons";
		font-size: 250px;
		line-height: 1em;
		position:absolute;
		bottom:-30px;
		left:calc(50% - 125px);
		opacity: 0.15;
		content:'\e60d';
		display: block;
		@include media($medium-screen) {
			font-size: 450px;
			bottom:-80px;
			left:calc(50% - 225px);
		}
		@include media($large-screen) {
			font-size: 700px;
			bottom:-130px;
			left:calc(50% - 350px);
		}
	}
	.l-container {
		position:relative;
		z-index: 2;
	}
}

.l-container {
	@include outer-container($container-width);
}

.l-section {
	margin-bottom:$large-spacing;
	&:last-of-type {
		margin-bottom: 0;
	}
}

@keyframes background-cycle {
    0% {
      background-color:$black;
    }
    50% {
      background-color:$green;
    }
	75% {
      background-color:$red;
    }
    100% {
      background-color:$black;
    }
}