
//----------------------------------*\
// Font Variables
//----------------------------------*/

$font-name: "motorcycons";
$font-path: "../fonts/";


//----------------------------------*\
// Motorcyons
//----------------------------------*/

$icons : (
	mc-helmet-street-fullface: "\e600",
	mc-helmet-street-openface: "\e601",
	mc-helmet-street-half: "\e602",
	mc-helmet-off-road: "\e603",
	mc-motorcycle-sport: "\e604",
	mc-motorcycle-off-road: "\e605",
	mc-motorcycle-cruiser: "\e606",
	mc-motorcycle-adventure: "\e607",
	mc-atv-farm: "\e608",
	mc-atv-sport: "\e609",
	mc-utv-farm: "\e60a",
	mc-pwc-single: "\e60b",
	mc-snowmobile: "\e60c"
);


@font-face {
	font-family: $font-name;
	src:url($font-path + $font-name +'.eot?-mpm0jd');
	src:url($font-path + $font-name +'.eot?#iefix-mpm0jd') format('embedded-opentype'),
		url($font-path + $font-name +'.ttf?-mpm0jd') format('truetype'),
		url($font-path + $font-name +'.woff?-mpm0jd') format('woff'),
		url($font-path + $font-name +'.svg?-mpm0jd#'+ $font-name ) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mc-"], [class*=" mc-"] {
	font-family: $font-name;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//----------------------------------*\
// Motorcyons Loop
//----------------------------------*/

@each $key, $icon in $icons {
	.#{$key} {
		&:before {
			content: $icon;
		}
	}
}
