$mc-air-filter: "\e61c";
$mc-chain: "\e61d";
$mc-gas-tank: "\e61e";
$mc-motorcycle-bobber: "\e61f";
$mc-motorcycle-cafe-racer: "\e620";
$mc-motorcycle-chopper: "\e621";
$mc-motorcycle-trike: "\e622";
$mc-utv-sport: "\e623";
$mc-tire-atv: "\e600";
$mc-atv-farm: "\e601";
$mc-atv-sport: "\e602";
$mc-boot: "\e603";
$mc-engine-v-twin: "\e604";
$mc-glove: "\e605";
$mc-goggles-aviator: "\e606";
$mc-helmet-off-road: "\e607";
$mc-helmet-street-fullface: "\e608";
$mc-helmet-street-half: "\e609";
$mc-helmet-street-openface: "\e60a";
$mc-jacket-leather: "\e60b";
$mc-moped: "\e60c";
$mc-motorcycle-adventure: "\e60d";
$mc-motorcycle-cruiser: "\e60e";
$mc-motorcycle-off-road: "\e60f";
$mc-motorcycle-sport: "\e610";
$mc-oil: "\e611";
$mc-piston: "\e612";
$mc-pwc-single: "\e613";
$mc-scooter: "\e614";
$mc-snowmobile: "\e615";
$mc-spark-plug: "\e616";
$mc-sprocket-rear: "\e617";
$mc-suspension: "\e618";
$mc-tire-offroad: "\e619";
$mc-tire-street: "\e61a";
$mc-utv-farm: "\e61b";
