// Grid

.batch-row {
	@include align-items(stretch);
	@include display(flex);
	@include flex-flow(row wrap);
	@include justify-content(flex-start);
	margin:0 (-$batch-gutter/2) (-$batch-gutter) (-$batch-gutter/2);
}

.batch-item {
	text-align:center;
	border-width:0 $batch-gutter/2 $batch-gutter $batch-gutter/2;
	border-style:solid;
	border-color:transparent;
	@include flex(0 0 100%);
	@include media($medium-screen-up) {
		@include flex(0 0 50%);
	}
	@include media($large-screen-up) {
		@include flex(0 0 25%);
	}
}

